# Dependencies
node_modules/
dist/
build/
*.local

# Cache
.cache/
.temp/

# Ambient
.env
.env.local
.env.development
.env.production

# Config
.vscode/

# Test
coverage/
*.test.*
__snapshots__/

# Vite
*.html

# Others
package-lock.json
yarn.lock
pnpm-lock.yaml

# Docs
CHANGELOG.md